################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
#########################################
# Buildout settings
# Modify at your own risks
#########################################
[buildout]
versions = versions
hooks-directory = ${buildout:directory}/hooks
eggs-directory=../../eggs/cache
develop-eggs-directory=../../eggs/develop-eggs
parts = part

[versions]

[part]
recipe = minitage.recipe.cmmi
url = http://gentoo.tiscali.nl/distfiles/libarchive-2.8.5.tar.gz
md5sum = 9caf51dcf6213e9c9f5a1c27448b9c90
[mirrors]

